{% extends "base.html" %}
{% load static %}

{% block "title" %}Logout{% endblock %}

{% block "body" %}
    <div class="card">
        <img class="card-img-top" src="{% static "logout.jpeg" %}" alt="logout">
        <div class="card-body">
            <h1 class="card-title">Logged Out!</h1>
            <h6 class="card-subtitle mb-2 text-muted">Lorem Ipsum Dolor Sit Amet</h6>
            <p>
                Click
                <a href="{% url 'users.login' %}">here</a>
                to login again.
            </p>
        </div>
    </div>
{% endblock %}
