{% extends "base.html" %}
{% load static %}

{% block "title" %}Sign Up{% endblock %}

{% block "body" %}
    <div class="card">
        <img class="card-img-top" src="{% static "signup.jpeg" %}" alt="signup">
        <div class="card-body">
            <h1 class="card-title">Sign Up</h1>
            <h6 class="card-subtitle mb-2 text-muted">Lorem Ipsum Dolor Sit Amet</h6>
            <form method="post" action="{% url 'users.signup' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row">
                    <div class="col">
                        {{ form.username.errors }}
                        <label for="{{ form.username.id_for_label }}">Username:</label>
                        <br/>
                        {{ form.username }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.password1.errors }}
                        <label for="{{ form.password1.id_for_label }}">Password:</label>
                        <br/>
                        {{ form.password1 }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.password2.errors }}
                        <label for="{{ form.password2.id_for_label }}">Confirm Your Password:</label>
                        <br/>
                        {{ form.password2 }}
                    </div>
                </div>
                <button class="btn btn-dark" type="submit">Sign Up</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <p>
                Already have an account? Click
                <a href="{% url 'users.login' %}?next={{ next }}">here</a>
                to Login.
            </p>
        </div>
    </div>
{% endblock %}
